.container {
    margin: 94px auto;
    width: 822px;
}

.title, .cart, .trash {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.cart {
    width: 176px;
    font-family: Proxima Nova, sans-serif;
}

.container > hr {
    margin-top: 30px;
    height: 1px;
    background-color: #F4F4F4;
    border: 0;
}

.trash {
    cursor: pointer;
    width: 169px;
    font-family: Proxima Nova, sans-serif;
    color: #B6B6B6;
}

.total_courses {
    margin-top: 132px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Prosto One, sans-serif;
    font-size: 22px;
}

.total_courses_price {
    color: #1D548C;
}

.bottom_buttons {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.back_button, .pay_button {
    width: 211px;
    height: 55px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-family: Proxima Nova, sans-serif;
    font-size: 16px;
}

.back_button {
    display: flex;
    justify-content: space-between;
    border: 1px solid #D3D3D3;
    background: #ffffff;
    color: #CACACA;
    padding: 18px 30px;
}

.pay_button {
    justify-content: center;
    background-color: #1D548C;
    color: white;
    font-weight: bold;
}