.container {
    width: 814px;
    height: 61px;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px
}

.img {
    width: 61px;
    height: 61px;
    margin-right: 27px;
}

.name_type {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    flex-grow: 2;
}

.name {
    font-size: 22px;
    font-weight: bold;
}

.type {
    font-size: 14px;
    color: #B6B6B6;
}

.counter_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 102px;
    height: 32px;
    margin-right: 80px;
    min-width: 120px;
}

.counter {
    font-size: 22px;
    font-weight: bold;
}

.price {
    font-size: 22px;
    font-weight: bold;
    margin-right: 93px;
    min-width: 100px;
}

.control_counter, .delete {
    cursor: pointer;
}
