.container {
    background-color: #F9F9F9;
    height: 46px;
    padding: 11px 40px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.active_category {
    height: 46px;
    padding: 11px 40px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #1D548C;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s;
}

.name {
    font-weight: bold;
}

.active_category:hover {
    background-color: #174a6e;
}