.container {
    width: 814px;
    height: 61px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item_img {
    width: 61px;
    height: 61px;
}

.item_name_type {
    display: flex;
    flex-direction: column;
}

.item_name {
    font-family: Prosto One, sans-serif;
    font-size: 22px;
}

.item_type {
    font-family: Prosto One, sans-serif;
    font-size: 14px;
    color: #B6B6B6;
}

.items_counter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 102px;
    height: 32px;
}

.counter {
    font-family: Proxima Nova, sans-serif;
    font-size: 22px;
    font-weight: bold;
}

.item_price {
    font-family: Proxima Nova, sans-serif;
    font-size: 22px;
    font-weight: bold;
}

.control_counter, .item_delete {
    cursor: pointer;
}
