@font-face {
    src: url("../shared/fonts/McLaren-Regular.ttf");
    font-family: McLaren;
}

@font-face {
    src: url("../shared/fonts/ProstoOne-Regular.ttf");
    font-family: Prosto One;
}

@font-face {
    src: url("../shared/fonts/proximanova_regular.ttf");
    font-family: Proxima Nova;
}

@font-face {
    src: url("../shared/fonts/Montserrat-Regular.ttf");
    font-family: Montserrat;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}