.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 674px;
    margin: 40px 0 0 64px;
}

.category_name {
    font-size: 32px;
    margin: 32px auto 34px 64px;
}